.navbarContainer{
    border: 1px solid;
    display: flex;
    height: calc(3.5rem - 2px);
    height: calc(3.5rem - 2px);
    background-color: rgb(33, 33, 33);
    justify-content: space-between;
}
.burgurLogoNavbar{
    display: flex;
    height: 3.3rem;
}
.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-evenly;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    margin-left: 1.1rem;
    margin-right: 0.7rem;
    border-radius: 100%;
}
.burger p{
    margin: 0.7px;
    width: 1.2rem;
    height: 0.1rem;
    background-color: rgb(247, 237, 237);
}

.logo_div_navbar{
    display: flex;
    text-decoration: none;
}

.logo_title_navbar{
    margin: auto;
    color: white;
    width: 55px;
    font-weight: bold;
}

.appBoxContainer{
    width: 25px;
    margin: auto 0.7rem;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.appBoxes{
border: 1px solid white;
margin: 0.1rem;
width: 2px;
height: 2px;
}

.authContNavbar{
    width: fit-content;
    margin: auto 0.5rem;
    position: relative;
    display: flex;
}
.authBtn{
    cursor: pointer;
    color: #3ea6ff;
    background-color: rgb(36, 36, 36);
    border: 2px solid;
    margin: 0%;
    padding: 0.5rem;
    border-radius: 0.1rem;
}

/* ///////////////////////////////////////////////// */
.channelLogoApp{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    background-color: rgb(224, 227, 214);
    display: flex;
}
